<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="API TEST SUITE">

	<test name=" Place Order ">
		<classes>
			<class name="com.apitesting.testscripts.PlaceOrder" />
		</classes>
	</test>
	<test name=" Fetch Order Details ">
		<classes>
			<class name="com.apitesting.testscripts.FetchOrderDetails" />
		</classes>
	</test>
	<test name=" Take the Order Endpoint ">
		<classes>
			<class name="com.apitesting.testscripts.TakeTheOrderEndpoint" />
		</classes>
	</test>
	<test name=" Complete Order Details ">
		<classes>
			<class name="com.apitesting.testscripts.CompleteOrder" />
		</classes>
	</test>
	<test name=" Cancel Order ">
		<classes>
			<class name="com.apitesting.testscripts.CancelOrder" />
		</classes>
	</test>

</suite>